name: Create Git Repository

on:
  workflow_call:
    secrets:
      PAT_TOKEN:
        required: true
    inputs:
      repository:
        required: true
        type: string
      language:
        required: true
        type: string

env:
  GH_TOKEN: ${{ secrets.PAT_TOKEN }}

jobs:
  verify:
    name: "Verify"
    runs-on: ubuntu-latest
    outputs:
      exists: ${{ steps.check-repo.outputs.exists }}
    steps:
      - name: Check if repository exists
        id: check-repo
        run: |
          if gh repo view ${{ github.repository_owner }}/${{ inputs.repository }} --json name -q .name > /dev/null 2>&1; then
            echo "exists=true"  >> $GITHUB_OUTPUT
          else
            echo "exists=false" >> $GITHUB_OUTPUT
          fi

  create:
    name: "Create"
    runs-on: ubuntu-latest
    if: ${{ needs.verify.outputs.exists == 'false' }}
    outputs:
      created: ${{ steps.creating-repository.outputs.created }}
    needs: verify
    steps:
      - name: Create new repository using GitHub CLI
        id: creating-repository
        run: |
          if gh repo create ${{ github.repository_owner }}/${{ inputs.repository }} --private; then
            echo "created=true" >> $GITHUB_OUTPUT
          else
            echo "created=false" >> $GITHUB_OUTPUT
          fi
  
  add-default-files:
    name: "Add Default Files"
    runs-on: ubuntu-latest
    needs: create
    if: ${{ needs.create.outputs.created == 'true' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository_owner }}/${{ inputs.repository }}

      - name: Add default files
        run: |
          echo "# ${{ inputs.repository }}" > README.md
          
          echo ".idea" >> .gitignore
          echo ".vscode" >> .gitignore
          echo "node_modules/" >> .gitignore
          echo "target" >> .gitignore
          echo "dist" >> .gitignore
          echo "build" >> .gitignore
          echo "out" >> .gitignore
          echo "proto-stubs" >> .gitignore
          echo "**/.terraform" >> .gitignore
          echo "**/.terraform.*" >> .gitignore
          git add README.md .gitignore
          
      - name: Add default files
        if: ${{ inputs.language == 'java' }}
        run: |
          mkdir -p src/main/java src/test/java
          cat > pom.xml << 'EOF'
          <?xml version="1.0" encoding="UTF-8"?>
          <project xmlns="http://maven.apache.org/POM/4.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
          <modelVersion>4.0.0</modelVersion>

          <groupId>com.giustech</groupId>
          <artifactId>boilerplate-go-grpc-java</artifactId>
          <version>1.0.0</version>
          <packaging>jar</packaging>

          <properties>
            <maven.compiler.source>21</maven.compiler.source>
            <maven.compiler.target>21</maven.compiler.target>
            <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
            <grpc.version>1.60.0</grpc.version>
            <protobuf.version>3.25.1</protobuf.version>
          </properties>

          <dependencies>
            <dependency>
              <groupId>io.grpc</groupId>
              <artifactId>grpc-netty-shaded</artifactId>
              <version>${grpc.version}</version>
            </dependency>
            <dependency>
              <groupId>io.grpc</groupId>
              <artifactId>grpc-protobuf</artifactId>
              <version>${grpc.version}</version>
            </dependency>
            <dependency>
              <groupId>io.grpc</groupId>
              <artifactId>grpc-stub</artifactId>
              <version>${grpc.version}</version>
            </dependency>
            <dependency>
              <groupId>com.google.protobuf</groupId>
              <artifactId>protobuf-java</artifactId>
              <version>${protobuf.version}</version>
            </dependency>
            <dependency>
              <groupId>javax.annotation</groupId>
              <artifactId>javax.annotation-api</artifactId>
              <version>1.3.2</version>
            </dependency>
          </dependencies>
          </project>
          EOF
          git add pom.xml src/

      - name: Add default files
        run: |
          git commit -m "Add default files"
          git push origin main