name: Create Git Repository

on:
  workflow_call:
    secrets:
      PAT_TOKEN:
        required: true
    inputs:
      repository:
        required: true
        type: string
      language:
        required: true
        type: string

env:
  GH_TOKEN: ${{ secrets.PAT_TOKEN }}

jobs: