name: Generate Repository

on:
  workflow_call:
    secrets:
      PAT_TOKEN:
        required: true
    inputs:
      repository:
        required: true
        type: string
      language:
        required: true
        type: string

jobs:
  create:
    name: "Create Repository"
    runs-on: ubuntu-latest
    outputs:
      created: ${{ steps.create-repo.outputs.created }}
    steps:
    - name: Create
      id: create-repo
      env:
        GH_TOKEN: ${{ secrets.PAT_TOKEN }}
      uses: giustech/actions/.github/actions/create-repository@main
      with:
        repository: ${{ inputs.repository }}
    - name: Show Output
      run: |
        echo "Repository Created: ${{ steps.create-repo.outputs.created }}"

  loading-workflows:
    name: "Loading Workflows"
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        path: 'github-actions'
        repository: '${{ github.repository_owner }}/actions'

    - name: List YAML Files
      id: list-yaml
      run: |
        echo "Listing YAML files in .github/templates/java:"
        FILES=$(ls github-actions/.github/templates/java/*.yaml)
        echo "yaml_files=$FILES" >> $GITHUB_OUTPUT

    - name: Show YAML File Contents
      run: |
        for FILE in ${{ steps.list-yaml.outputs.yaml_files }}; do
          echo "Contents of $FILE:"
          cat "$FILE"
          echo "-----------------------------------"
        done



    # Create step to list every yaml file within .github/templates/java and retriver thier contant to a variable

  initialize:
    name: "Initialize Repository"
    runs-on: ubuntu-latest
    needs: [ create, loading-workflows ]
    outputs:
      created: ${{ steps.create-repo.outputs.created }}
    steps:

    - name: Create README File
#      if: ${{ needs.create.outputs.created == 'true' && inputs.language == 'java' }}
      uses: giustech/actions/.github/actions/generate-initial-files-java@main

    - name: Show
      run: | 
        ls -ltra