name: Generate Repository

on:
  workflow_call:
    secrets:
      PAT_TOKEN:
        required: true
    inputs:
      repository:
        required: true
        type: string
      language:
        required: true
        type: string

jobs:
  create:
    name: "Create Repository"
    runs-on: ubuntu-latest
    outputs:
      created: ${{ steps.create-repo.outputs.created }}
    steps:
    - name: Create
      id: create-repo
      env:
        GH_TOKEN: ${{ secrets.PAT_TOKEN }}
      uses: giustech/actions/.github/actions/create-repository@main
      with:
        repository: ${{ inputs.repository }}
    - name: Show Output
      run: |
        echo "Repository Created: ${{ steps.create-repo.outputs.created }}"

  initialize:
    name: "Initialize Repository"
    runs-on: ubuntu-latest
    needs: create
    outputs:
      created: ${{ steps.create-repo.outputs.created }}
    steps:
    - name: Show
      run:
        echo "${{ needs.create.outputs.created }}"
    - name: Create README File
      if: ${{ needs.create.outputs.created == 'true' }}
      run: |
        CONTENT=$(echo "Exemplo de texto para o arquivo" | base64 -w0)
        gh api --method PUT \
          -H "Accept: application/vnd.github+json" \
          /repos/<owner>/<repo>/contents/README.md \
          -f message="feat: Creating Readme.md" \
          -f content="$CONTENT" \
          -f branch="main"