name: Generate Repository

on:
  workflow_call:
    secrets:
      PAT_TOKEN:
        required: true
    inputs:
      repository:
        required: true
        type: string
      language:
        required: true
        type: string

jobs:
  create-repo:
    name: "Create Repository"
    runs-on: ubuntu-latest
    outputs:
      created: ${{ steps.create-repo.outputs.created }}
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Create Repository
      id: create-repo
      env:
        GH_TOKEN: ${{ secrets.PAT_TOKEN }}
      uses: ./.github/actions/create-repository
      with:
        repository: ${{ inputs.repository }}
        pat_token: ${{ secrets.PAT_TOKEN }}

  init-files:
    name: "Initialize Project Files"
    runs-on: ubuntu-latest
    needs: create-repo
    if: ${{ needs.create-repo.outputs.created == 'true' }}
    steps:
    - name: "Creating files"
      run: "echo 'Initializing files for ${{ inputs.language }} project in repository ${{ inputs.repository }}'"