name: Generate Repository

on:
  workflow_call:
    secrets:
      PAT_TOKEN:
        required: true
    inputs:
      repository:
        required: true
        type: string
      language:
        required: true
        type: string

jobs:
  create-repo:
    name: "Create Repository2"
    runs-on: ubuntu-latest
    outputs:
      created: ${{ steps.create-repo.outputs.created }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4

#    - name: Create Repository
#      id: create-repo
#      env:
#        GH_TOKEN: ${{ secrets.PAT_TOKEN }}
#      uses: ./.github/actions/create-repository
#      with:
#        repository: ${{ inputs.repository }}

