name: Generate Repository

on:
  workflow_call:
    secrets:
      PAT_TOKEN:
        required: true
    inputs:
      repository:
        required: true
        type: string
      language:
        required: true
        type: string

jobs:
  generate-repository:
    name: Repository
    uses: giustech/actions/.github/workflows/create-repository.yaml@main
    permissions:
      id-token: write
      contents: read
    secrets:
      PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
    with:
      language: '${{ inputs.language }}'
      repository: '${{ inputs.repository }}'
