name: Generate Repository

on:
  workflow_call:
    secrets:
      PAT_TOKEN:
        required: true
    inputs:
      repository:
        required: true
        type: string
      language:
        required: true
        type: string

jobs:
  create:
    name: "Create Repository"
    runs-on: ubuntu-latest
    outputs:
      created: ${{ steps.create-repo.outputs.created }}
    steps:
    - name: Create
      id: create-repo
      env:
        GH_TOKEN: ${{ secrets.PAT_TOKEN }}
      uses: giustech/actions/.github/actions/create-repository@main
      with:
        repository: ${{ inputs.repository }}
    - name: Show Output
      run: |
        echo "Repository Created: ${{ steps.create-repo.outputs.created }}"

  loading-workflows:
    name: "Loading Workflows"
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        path: 'github-actions'
        repository: '${{ github.repository_owner }}/actions'

    - name: List YAML Files
      id: list-yaml
      run: |
        mkdir -p generate-${{ inputs.language }}-actions
        echo "Listing YAML files in .github/templates/${{ inputs.language }}:"
        shopt -s nullglob
        FILES=(github-actions/.github/templates/${{ inputs.language }}/*.yaml)
        echo "Files: ${FILES[@]}"
    
        if [ ${#FILES[@]} -gt 0 ]; then
          for f in "${FILES[@]}"; do
            FILE_NAME="${f##github-actions/.github/templates/${{ inputs.language }}/}"
            TIME_STAMP="$(date +%Y%m%d%H%M%S)"
    
            {
              echo "# Generated in ${TIME_STAMP}"
              echo "# Hash: ${{ github.sha }}"
              cat "$f"
            } > "generate-${{ inputs.language }}-actions/${FILE_NAME}"
          done
        else
          echo "Nenhum arquivo encontrado."
        fi

    - name: Upload Generated Actions
      uses: actions/upload-artifact@v4
      with:
        name: generated-${{ inputs.language }}-actions
        path: generate-${{ inputs.language }}-actions

  initialize:
    name: "Initialize Repository"
    runs-on: ubuntu-latest
    needs: [ create, loading-workflows ]
    env:
      GH_TOKEN: ${{ secrets.PAT_TOKEN }}
    outputs:
      created: ${{ steps.create-repo.outputs.created }}
    steps:

    - name: Clone Repository
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git clone https://x-access-token:${{ secrets.PAT_TOKEN }}@github.com/${{ github.repository_owner }}/${{ inputs.repository }}.git repo
        cd repo
        mkdir -p .github/workflows

    - name: Download Artifacts
      uses: actions/download-artifact@v4
      with:
        name: generated-${{ inputs.language }}-actions
        path: repo/.github/workflows

    - name: Commit Workflows to New Repository
      run: |
        cd repo
        git add .github/workflows/
        git commit -m "Workflows added"
        git push origin main