name: Generate Repository

on:
  workflow_call:
    secrets:
      PAT_TOKEN:
        required: true
    inputs:
      repository:
        required: true
        type: string
      language:
        required: true
        type: string


jobs:
  create-repo:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.PAT_TOKEN }}
    steps:
    - name: 'Create new repository using GitHub CLI'
      env:
        GH_TOKEN: ${{ inputs.pat_token }}
        REPO_NAME: ${{ inputs.repository }}
      run: |
        gh repo create ${{ github.repository_owner }}/${{ inputs.repository }} --private