name: Generate Repository

on:
  workflow_call:
    secrets:
      PAT_TOKEN:
        required: true
    inputs:
      repository:
        required: true
        type: string
      language:
        required: true
        type: string

jobs:
  create:
    name: "Create Repository"
    runs-on: ubuntu-latest
    outputs:
      created: ${{ steps.create-repo.outputs.created }}
    steps:
    - name: Create
      id: create-repo
      env:
        GH_TOKEN: ${{ secrets.PAT_TOKEN }}
      uses: giustech/actions/.github/actions/create-repository@main
      with:
        repository: ${{ inputs.repository }}
    - name: Show Output
      run: |
        echo "Repository Created: ${{ steps.create-repo.outputs.created }}"

  loading-workflows:
    name: "Loading Workflows"
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        path: 'github-actions'
        repository: '${{ github.repository_owner }}/actions'



    - name: List YAML Files
      id: list-yaml
      run: |
        echo "Listing YAML files in .github/templates/${{ inputs.language }}:"
        shopt -s nullglob
        FILES=(github-actions/.github/templates/${{ inputs.language }}/*.yaml)
        echo "Files: ${FILES[@]}"
    
        if [ ${#FILES[@]} -gt 0 ]; then
          for f in "${FILES[@]}"; do
            FILE_NAME="${f##github-actions/.github/templates/${{ inputs.language }}/}"
            TIME_STAMP="$(date +%Y%m%d%H%M%S)"
    
            echo "Creating file: ${FILE_NAME}"
            {
              echo "# Generated in ${TIME_STAMP}"
              echo "# Hash: ${{ github.sha }}"
              cat "$f"
            } > "${FILE_NAME}"
    
            echo "=================================="
            cat "${FILE_NAME}"
          done
        else
          echo "Nenhum arquivo encontrado."
        fi

    # Create step to list every yaml file within .github/templates/java and retriver thier contant to a variable

  initialize:
    name: "Initialize Repository"
    runs-on: ubuntu-latest
    needs: [ create, loading-workflows ]
    outputs:
      created: ${{ steps.create-repo.outputs.created }}
    steps:

    - name: Create README File
#      if: ${{ needs.create.outputs.created == 'true' && inputs.language == 'java' }}
      uses: giustech/actions/.github/actions/generate-initial-files-java@main

    - name: Show
      run: | 
        ls -ltra