name: Generate Repository

on:
  workflow_call:
    secrets:
      PAT_TOKEN:
        required: true
    inputs:
      repository:
        required: true
        type: string
      language:
        required: true
        type: string

jobs:
  create-repo:
    name: "Create Repository2"
    runs-on: ubuntu-latest
    outputs:
      created: ${{ steps.create-repo.outputs.created }}
    steps:
    - name: Create
      id: create-repo
      env:
        GH_TOKEN: ${{ secrets.PAT_TOKEN }}
      uses: giustech/actions/.github/actions/create-repository@main
      with:
        repository: ${{ inputs.repository }}

