name: Generate Repository

on:
  workflow_call:
    secrets:
      PAT_TOKEN:
        required: true
    inputs:
      repository:
        required: true
        type: string
      language:
        required: true
        type: string

jobs:
  create:
    name: "Create Repository"
    runs-on: ubuntu-latest
    outputs:
      created: ${{ steps.create-repo.outputs.created }}
    steps:
    - name: Create
      id: create-repo
      env:
        GH_TOKEN: ${{ secrets.PAT_TOKEN }}
      uses: giustech/actions/.github/actions/create-repository@main
      with:
        repository: ${{ inputs.repository }}
    - name: Show Output
      run: |
        echo "Repository Created: ${{ steps.create-repo.outputs.created }}"

  initialize:
    name: "Initialize Repository"
    runs-on: ubuntu-latest
    needs: create
    outputs:
      created: ${{ steps.create-repo.outputs.created }}
    steps:

    - name: Create README File
#      if: ${{ needs.create.outputs.created == 'true' && inputs.language == 'java' }}
      uses: giustech/actions/.github/actions/generate-initial-files-java@main

    - name: Show
      run: | 
        ls -ltra