name: Generate Repository

on:
  workflow_call:
    secrets:
      PAT_TOKEN:
        required: true
    inputs:
      repository:
        required: true
        type: string
      language:
        required: true
        type: string


jobs:
  create-repo:
    runs-on: ubuntu-latest
    steps:
    - name: 'Create new repository using GitHub CLI'
      id: creating-repository
      env:
        GH_TOKEN: ${{ secrets.PAT_TOKEN }}
      run: |
        gh repo create ${{ github.repository_owner }}/${{ inputs.repository }} --private

